body{
	margin: 75px;
	line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    background-color: #EEE8AA;
}


h5{ 
	font-size: 14;
	font-weight: 225;	
	padding-bottom: 5%;
}

h3{
	font-family: 'Cinzel', serif;
}

a{
	color: black;

}

a:hover{
	color: #FFC300; 
}

