body{
	margin: 100px;
	line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    background-color: #EEE8AA;
}

h1{
	font-size: 72px;
}

p{
	padding: 25px;
}

h5{ 
	font-size: 14;
	font-weight: 225;	
	padding-bottom: 5%;
}

h3{
	font-family: 'Cinzel', serif;
}

a{
	color: grey;

}

a:hover{
	color: #FFC300; 
}

.attribute{
	font-size: 11;
	font-weight: 150;
	color: grey;
}