
body{
	
}
 div{
 	background-color: #fc5f1a;
	color: #010833;
 }

p{
	font-size: 18px;
	font-family: 'Nunito Sans', sans-serif;
	line-height: 1;
 	font-weight: 500;

}

.pt {
		font-style: italic;
}

.header{
	font-size:  120px; 
	text-align: center;
	font-family: 'Anton', sans-serif;
} 
.secondheader{
	font-size:  60px; 
	text-align: center;
	font-family: 'Anton', sans-serif;
}
} 
.bio{
	font-weight: 600; 
	color: #000000;
	text-decoration: underline;
	text-decoration-color: #ffa500;
	line-height: 

}

.titlebox{
	font-size: 70px;
	letter-spacing: 2.5px

}

.block{
	font-size: 14px
}


.linespace{
	line-height: 1;
	text-align: center;

}

.display{
	display: block;


}
/*colors:; Orange #fc5f1a, Navy #010833, Yellow #ffa500 /*