.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.content{
	padding-top: 10%;
}

p.center{
	text-align: center;
}

p{
	font-family: 'Quicksand', sans-serif;
	}

h3{
	font-family: 'Bitter', serif;
}

h1{
	text-align: center;
	font-family: 'Bitter', serif;
	margin-top: 5%
}
pre{
	font-family: 'Quicksand', sans-serif;
	color: grey;
}