
body,
h1,
h2 {
	 font-family: 'Monospace', Lucida Console, serif;
}

h3 {
	font-family: "Times New Roman", Times, serif;
}
.subheadings {
	font-family: FreeMono, monospace;
	font-weight: 700; 
	font-size: 15px;
}

.caption {
	font-family: Times New Roman;
}

.dateline,
.byline {
	font-size: 12px;	 
} 